*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
restart.txt
pickle-email-*.html
#.project
.DS_Store
Thumbs.db
.svn
*~

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
*.class
*.pyc
*.pyo
