<div class='file_progress'>
  <progress class='progress_bar'>
  </progress>
  <span class='progress_percentaje'></span>
  <p>Bytes:
    <span class='byte_progress'></span>
  </p>
  <p>Parts: 
    <span class='part_progress'></span>/
    <span class='total_parts'></span>
  </p>
  Alerts:
  <span class='message'></span>
</div>
