<!DOCTYPE html>
<html>
<head>
  <title>S3BrowserMultipart</title>
  <%= stylesheet_link_tag    "s3_browser_multipart/application", :media => "all" %>
  <%= javascript_include_tag "s3_browser_multipart/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
